.input {
  outline: none;
  box-sizing: border-box;
  height: 60px;
  width: 0;
  padding: 0 20px;
  color: black;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid red;
  transition: all 0.7s ease;
}

::placeholder {
  color: aliceblue;
}

.search {
  width: 80px;
  height: 60px;
  background-image: url("https://w7.pngwing.com/pngs/253/919/png-transparent-dogs-pets-running-thumbnail.png");
  background-size: 100%;
  background-color: red;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
