.input {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  padding: 0 20px;
  color: black;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid var(--borde);
  transition: all 0.7s ease;
}

::placeholder {
  color: rgb(246, 156, 78);
}

.button {
  height: 40px;
}
.search {
  height: 100%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
