.container {
  background-image: url("../../image/perrosVarios.jpg");
  height: max-content;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100%;
}
