.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  background-color: var(--fondo);
  background-size: cover;
  align-items: center;
  flex-flow: row;
  justify-content: space-around;
}
.containerButton {
  display: flex;
  padding: 2px 0px 2px 0px;
  width: 100px;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.containerPaginado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.containerPage {
  display: flex;
  align-items: center;
}
.paginado {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
  min-width: 300px;
  justify-content: center;
  list-style: none;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  color: rgba(236, 234, 230, 1);
  border-radius: 10px;
  background-color: rgba(53, 25, 21, 1);
  border: 2px solid rgba(210, 142, 105, 1);
}

.pageCurrent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  color: rgba(236, 234, 230, 1);
  border-radius: 10px;
  background-color: rgba(210, 142, 105, 1);
  border: 2px solid rgba(210, 142, 105, 1);
}
