@import "./normalize.css";

:root {
  --bistre: #452717ff;
  --fondo: rgba(208, 202, 192, 0.765);
  --fondoButton: #cabbacff;
  --marron: #463529ff;
  --letras: #212120ff;
}

ul {
  list-style: none;
}

a {
  font-weight: 500;
  color: var(--letras);
  text-decoration: inherit;
}
a:hover {
  color: var(--letras);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--bistre);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
